@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e0e1dd;
  color: #0d1b2a;
  font-size: 14px;
  padding: 104px 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    padding: 64px 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

hr {
  margin: auto;
  height: 1px;
  width: 30%;
  color: #415a78;
  background-color: #415a78;
  border: none;
}

.pb-4 {
  padding-bottom: 16px;
}

.pb-16 {
  padding-bottom: 4rem; /* 64px */
}

.pb-20 {
  padding-bottom: 80px;
}

.space-around {
  justify-content: space-around;
}
